/* ------------------------
   NAVBAR MOBIL-FØRST
------------------------ */
body{
    margin: 0;
}


    .KI{
    background-image: url("../images/image2.png");
    max-inline-size: 100%;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5rem 1rem;
    text-align: center;
   
    }
     .c1{ 
    font-size: 2rem;
    font-style: oblique;
    text-align: center;
    color: rgb(3, 5, 4);
    
        }

 

.Nettegg{
    font-size: smaller;
    
}
  
.navbar {
    background-color: rgb(127, 188, 178);
    padding: 10px;
    margin-top: 0px;
    position: relative;
}
p{
    font-size: x-large;
}

/* Hamburger-knapp */
.menu-toggle {
    display: block;
    background: none;
    border: 2px solid rgb(7, 14, 14);
    color: rgb(7, 14, 14);
    font-size: 1.5rem;
    padding: 8px 15px;
    cursor: pointer;
}

/* Meny skjult som standard */
.navbar ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;

    display: none; /* skjult på mobil */
    flex-direction: column;
    gap: 10px;
}

/* Menyen åpnes når navbar får fokus */
.navbar:focus-within ul {
    display: flex;
}

/* Lenker */
.navbar a {
    display: block;
    padding: 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(7, 14, 14);
    text-align: center;
    background-color: rgb(200, 200, 200);
    border-radius: 5px;
}

/* Hover + fokus */
.navbar a:hover,
.navbar a:focus-visible {
    background-color: rgb(150, 180, 180);
    outline: none;
}
@media (min-width: 768px) {
    .menu-toggle {
        display: none; /* skjul hamburger */
    }

    .navbar ul {
        display: flex; /* vis alltid menyen */
        flex-direction: row;
        justify-content: center;
        gap: 10rem;
        margin: 0px;
    }

    .navbar a {
        background: none;
        padding: 5px 20;
    }

    .navbar a:hover,
    .navbar a:focus-visible {
        background-color: rgb(200, 202, 200);
    }
}
main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

  .c2{
    float: left;
    margin-left: 100px;
    }

.faq{
   margin-left: 10rem;
   text-align: left;
}

aside{
    padding: 10px;
}
section{
     padding: 10px;
}
article{
     padding: 10px;
}
footer{
    display: block;
    clear: both;
    background-color: rgb(127, 188, 178);
    text-align: center;
    padding: 25px;
    }
li{
    font-size: x-large;
}
.quiz{
    border-radius: 20px;
    background-color: rgb(220, 250, 242);
     border: 1px solid #ddd;
  padding: 1.2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.quiz-boks {
  display: grid;
  gap: 3rem;
  @media (width < 150px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (width > 880px) {
     grid-template-columns: repeat(3, 1fr);
  }
  
  
  
  
 
}
.fasit p{
    font-size: x-small;
}
summary{
    font-style: normal;
    font-weight: bolder;
    font-size: xx-large;
    padding: 2rem;
}
.int{
      border-radius: 20px;
    background-color: rgb(224, 238, 231);
     border: 1px solid #f48989;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 2rem;
}