/* ------------------------
   NAVBAR MOBIL-FØRST
------------------------ */
body{
    margin: 0;
}

.KI {
      position: absolute;
    top: 20%;
    left: 10%;
    font-size: 50px;
    font-style: oblique;
    text-align: center;
     }
.Nettegg{
    font-size: smaller;
    
}
.c1{
    margin: 0;
        opacity: 0.4;
}
.navbar {
    background-color: rgb(127, 188, 178);
    padding: 10px;
    margin-top: 0px;
    position: relative;
}
p{
    font-size: x-large;
}
/* Hamburger-knapp */
.menu-toggle {
    display: block;
    background: none;
    border: 2px solid rgb(7, 14, 14);
    color: rgb(7, 14, 14);
    font-size: 1.5rem;
    padding: 8px 12px;
    cursor: pointer;
}

/* Meny skjult som standard */
.navbar ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;

    display: none; /* skjult på mobil */
    flex-direction: column;
    gap: 10px;
}

/* Menyen åpnes når navbar får fokus */
.navbar:focus-within ul {
    display: flex;
}

/* Lenker */
.navbar a {
    display: block;
    padding: 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(7, 14, 14);
    text-align: center;
    background-color: rgb(200, 200, 200);
    border-radius: 5px;
}

/* Hover + fokus */
.navbar a:hover,
.navbar a:focus-visible {
    background-color: rgb(150, 180, 180);
    outline: none;
}
@media (min-width: 768px) {
    .menu-toggle {
        display: none; /* skjul hamburger */
    }

    .navbar ul {
        display: flex; /* vis alltid menyen */
        flex-direction: row;
        justify-content: center;
        gap: 10rem;
        margin: 0px;
    }

    .navbar a {
        background: none;
        padding: 5px 20;
    }

    .navbar a:hover,
    .navbar a:focus-visible {
        background-color: rgb(200, 202, 200);
    }
}
main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.bilde {
    position: relative;
    text-align: center;
    opacity: 0,4;
  }
  .c2{
    float: left;
    margin-left: 100px;
    margin-right: 20px;
   
     }
aside{
    padding: 10px;
}
section{
     padding: 10px;
}
article{
     padding: 10px;
}
footer{
    display: block;
    clear: both;
    background-color: rgb(202, 242, 242);
    text-align: center;
    padding: 25px;
    }
li{
    font-size: x-large;
}
.quiz{
    border-radius: 20px;
    background-color: rgb(220, 250, 242);
     border: 1px solid #ddd;
  padding: 1.2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.quiz-boks {
  display: grid;
   grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
 
}
.fasit p{
    font-size: x-small;
}
summary{
    font-style: normal;
    font-weight: bolder;
    font-size: xx-large;
    padding: 2rem;
}
.int{
      border-radius: 20px;
    background-color: rgb(176, 244, 244);
     border: 1px solid #f48989;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 2rem;
}